/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
 body {
   font-family: Serif;
   letter-spacing: 0.5px;
 }

 img {
   margin-top: -20px;
   height: 55px;
   /*margin-left: -50px;*/
 }

 legend, label {
   color: white;
 }

 a {
  color: red;
 }

 .Signup > li > a:hover {
     color: black;
 }

 .alert-sucess {
   background-color: #FFCDD2;
 }


