body {
  background: url("main_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  margin-top: -10px;
}

.alert.alert-success {
  background-color: #EA4132;
  color: white;
  border: #EA4132;
}

legend {
  color: white;
  letter-spacing: 0.5px;
  font-family: 'Times New Roman', serif;
  border: 0 !important;
}

i {
  color: white;
  font-family: 'Times New Roman', serif;
}

.white-text {
  color: white;
}

input.btn.btn-primary {
  background-color: #EA4132;
  border: #EA4132;
}


input.btn.btn-success {
  background-color: #EA4132;
  border: #EA4132;
}

.col-md-offset-4 {
margin-top: 20px;
padding: 10px;
background-color: #222;
float: right !important;
margin-right: 10px;
border-radius: 15px;
}

.navbar-fixed-top {
    background-color: #222;
    color: white;
    border-radius:0;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #EA4132 !important;
}

.Signup > li > a:hover {
    color: #222;
}
