body {
background: url(main_background.png);
/*  background-size: contain;*/
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
max-height: 100%;
margin-top: -10px;
}

legend {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: Sans;
}

input.btn.btn-primary {
  background-color: red;
  border: red;
}


input.btn.btn-success {
  background-color: red;
  border: red;
}

.col-md-offset-4 {
padding: 10px;
background-color: black;
float: right !important;
margin-right: 10px;
}

img {
  margin-top: -20px;
  height: 55px;
  margin-left: -50px;
}
.navbar-fixed-top {
    background-color: black;
    color: white;
    border-radius:0;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: red !important;
}




/*a {
  text-transform: uppercase;
  color: white;
}*/